<h1>Help Screen</h1>
<h3>1. Tìm kiếm sản phẩm:</h3>
<p>Quý khách có thể tìm sản phẩm bằng cách gõ tên sản phẩm vào thanh tìm kiếm.</p>
<h3>2. Thêm sản phẩm vào giỏ hàng:</h3>
<p>Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào thêm sản phẩm , sau đó:
    - Kiểm tra thông tin sản phẩm: giá.
    - Chọn số lượng mong muốn.
    - Thêm sản phẩm vào giỏ hàng.
</p>
<h3>3. Làm thế nào để tôi quản lý thông tin trong tài khoản?:</h3>
<p>Tại mục Thông tin tài khoản quý khách có thể thay đổi các thông tin: Họ tên,địa chỉ, mật khẩu.</p>