@model Fptbook.ViewModel.Customers.PaymentViewModel

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Enter Information</h1>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="ViewCart" asp-controller="Customers">Back</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Payment" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="form-group">
                            <label asp-for="RecipientName" class="control-label"></label>
                            <input asp-for="RecipientName" type="text" class="form-control" />
                            <span asp-validation-for="RecipientName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RecipientAddress" class="control-label"></label>
                            <input asp-for="RecipientAddress" class="form-control" />
                            <span asp-validation-for="RecipientAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RecipientPhoneNumber" class="control-label"></label>
                            <input asp-for="RecipientPhoneNumber" class="form-control" />
                            <span asp-validation-for="RecipientPhoneNumber" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group">
                            <label asp-for="TotalPrice" class="control-label"></label>
                            <div>@Model.TotalPrice</div>
                        </div>
                        <input type="hidden" name="OrderId" value=@Model.OrderId />
                        <input type="hidden" name="StoreId" value=@Model.StoreId />
                        <input type="hidden" name="TotalPrice" value=@Model.TotalPrice />

                        <div class="form-group">
                            <input type="submit" value="Pay" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>